<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Charts</title>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.0/dygraph-combined.js"></script>
</head>
<body>
	{{{body}}}
</body>
</html>