<div id="filterContainer">
	{{> charts/_filters}}
</div>
<div id="chartContainer">
</div>

<script type="text/javascript">
	$(function() {
		$('#filterContainer').on('change', function(e) {
			var $equity = $('#equity');
			var $option = $('#option');
			var $strike = $('#strike');
			var $expiry = $('#expiry');

			// Reset filters accordingly before form submit.
			if ($equity.is(e.target)) {
				$option.val('');
				$strike.val('');
				$expiry.val('');
				resetGraph();
			} else if ($option.is(e.target)) {
				$strike.val('');
				$expiry.val('');
				resetGraph();
			} else if ($strike.is(e.target)) {
				$expiry.val('');
				resetGraph();
			}

			$('#filter').submit();
		});

		$('#filterContainer').on('submit', '#filter', function() {
			var equity = $('#equity').val();
			var option = $('#option').val();
			var strike = $('#strike').val();
			var expiry = $('#expiry').val();

			var $form = $(this);
			var q = $form.serialize();

			$.ajax({
				url: '{{req.baseUrl}}' + $form.attr('action') + '?' + q,
				success: function(d, status, xhr) {
					var ct = xhr.getResponseHeader('content-type') || '';

					if (ct.indexOf('json') > -1) {
						d = JSON.parse(d);
						updateGraph(d.options);
					} else if (ct.indexOf('html') > -1) {
						$('#filterContainer').html(d);
					}
				}
			});

			return false;
		});

		var resetGraph = function() {
			if (graph) {
				graph.destroy();
			}
			graph = null;
			$('#chartContainer').html('Complete the filters above.');
		};

		var updateGraph = function(options) {
			var data = new Array(options.length);

			for (var i = 0; i < data.length; i++) {
				var doc = options[i];

				var quoteTimeMillis = Date.parse(doc.Quote_Time);
				var quoteTime = new Date();
				quoteTime.setTime(quoteTimeMillis);
				var last = doc.Last;

				//data[i] = [priceDt, [price, 1], [trade, 0]]; // When "errorBars: true"
				data[i] = [quoteTime, last];
			}

			if (!graph) {
				graph = new Dygraph(
					document.getElementById('chartContainer'),
					data,
					{
						labels: ['Quote Time', 'Last'],
						labelsDivStyles: { textAlign: 'right' }
						//customBars: true
					}
				);
			} else {
				graph.updateOptions({ 'file': data });
			}
		};

		var graph;
		resetGraph();
	});
</script>
